.StoreList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  &-item {
    border-radius: 5px;
    background-color: #e6e6e6;
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
    min-height: 120px;
    padding: 10px;
    flex: 0 0 250px;
  }
}
